<%- include('partials/head') %>
<!--formulario de nueva operacion ( no manda datos no encuentro el error )-->  
  <div class="container-form">
  <h1> Crear una operacion </h1>
  <form action="/" method="POST" enctype="multipart/form-data" class="card card-body">
    <div class="form-group">
      <label for="Concepto">Concepto</label>
      <input type="text" class="form-control" placeholder="Ingresar concepto"  name="Concepto" required />
    </div>
    <div class="form-group col-xs-4">
      <label for="Monto">Monto</label>
      <input type="number" class="form-control" placeholder="Ingresar monto"  name="Monto" required />
    </div>
    <div class="form-group col-xs-4">
      <label for="fecha">Fecha</label>
      <input type="date" class="form-control" placeholder="Ingresar fecha"  name="Fecha" required />
    </div><div class="form-group col-xs-4">
      <label for="Tipo">Tipo</label>
      <input type="text" class="form-control" placeholder="Ingresar tipo" name="Tipo" required />
    </div>
    <div class="form-group col-xs-4" >
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
  </form>
 </div>
 <!-- tabla de operaciones -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Concepto</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <% operaciones.forEach(operacion => {%>
        <tr>
        <td><%= operaciones.Concepto%></td>
        <td><%= operaciones.Monto%></td>
        <td><%= operaciones.Fecha%></td>
        <td><%= operaciones.Tipo%></td>
      </tr>     
    <% }) %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') %>
